@import 'variables.scss';
@import 'mixins.scss';
#main {
	.mapWrap {
		height: auto;
		margin-top: 20px;
		border: 2px solid #333;
		#sf-bicycle-theft {
			cursor: pointer;
			&:active { cursor: grab; }

			path {
			  stroke: #fff;
			  stroke-width: 0.5px;
			  fill: rgb(222,45,38);
			  &:hover { stroke: #000; }
			}
		}
	}

	#timeStolen {
		margin: 25px auto 35px;
		rect {
			fill: #df2f28;
		}
		.axis path,
		.axis line {
			fill: none;
			stroke: #2ba3d4;
			shape-rendering: crispEdges;
		}
		
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}
	}

	.imgWrap {
		width: 100%;
		text-align: center;
	}
}