#main {
	#singlePeopleWrap {
		// border: none;
	}

	.leaflet-tile-container {
		canvas { background: white; border: none; }
	}

	.counties {
	  fill: none;
	  stroke: #00441b;
	}

	.states {
	  fill: none;
	  stroke: #333;
	  stroke-linejoin: round;
	}
}