@import 'variables.scss';
@import 'mixins.scss';

$black: #EB6841;
$white: #00A0B0;
$asian: #36862D;
$hispanic: #EDC951;
$other: #CC333F;

#main {
	.mapWrap {
		position: relative;

		#county-wealth-map {
			cursor: default;

			.counties {
			  stroke: #fff;
			  stroke-width: 1;
			  stroke-opacity: 0.5;
			  stroke-linejoin: round;

			  &:hover {
			  	stroke-width: 3;
			  	stroke-opacity: 1
			  }
			}

			.states {
			  fill: none;
			  stroke: #333;
			  stroke-linejoin: round;
			  stroke-linecap: butt;
			  stroke-dasharray: 8,5;
			  stroke-width: 1;
			  stroke-opacity: 0.9;
			}
		}

		#county-wealth-map-bar {
			position: relative;
			top: -550px;
			display: inline-block;
			z-index: 1000;
			background: white;
			opacity: 0.7;

			.barChart {				
				.Black { fill: $black; }
				.White { fill: $white; }
				.Asian { fill: $asian; }
				.Hispanic { fill: $hispanic; }
				.Other { fill: $other; }
			}
		}
	}

	.nationalCubes {
		width: 100%;
		margin: 0 auto;
		text-align: center;

		rect, path { 
			fill-opacity: 0.4; 
			stroke-linejoin: round;
			stroke-width: 1.5;
		}

		.legend rect { fill-opacity: 0.4; }

		.base {
			stroke: #6A4A3C;
			stroke-width: 1;
			stroke-opacity: 0.4
		}

		.Black { 
			fill: $black;
			stroke: $black;
		}
		.White { 
			fill: $white; 
			stroke: $white; 
		}
		.Asian { 
			fill: $asian;
			stroke: $asian; 
		}
		.Hispanic { 
			fill: $hispanic; 
			stroke: $hispanic; 
		}
		.Other { 
			fill: $other;
			stroke: $other; 
		}
	}
}